@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin hovereffect($accent-color) {
    color: $accent-color
}

body {
    background: $primary-color;
    color: $text-color;
}

.header {
    @include flexCenter(column);
    // @include box;
    height: 41vh;
    color: $alt-color;
    margin-bottom: 4rem;
    background-image: url(/Tuani.jpg);
    background-position: center;
    background-size: 80% 100%;
    background-repeat: no-repeat;

    @include mobile {
        display: flex;
        justify-content: space-evenly;
    }

    @include desktop {
        display: flex;
        justify-content: space-around;

        a {
            font-style: bold;
            @include transition-ease;

            @include desktop {
                font-size: 1.3rem;
            }

            &:hover {
                color: $accent-color;
            }
        }
    }

    .title {
        font-size: 2rem;
        margin: 1.5rem;

        @include desktop {
            font-size: 4.5rem;
        }
    }
}

nav {
    margin-top: 0;

    @include mobile {
        @include flexCenter(row);
        width: 100%;
    }

    width: 100%;
    background: $primary-color;

}

ul.menu-nav {
    @include desktop {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    @include mobile {
        display: flex;

    }

    #{&}__item {
        margin: 1rem 2.7rem;

        a {
            font-size: .7rem;
            margin: 1rem 2rem;

            @include desktop {
                font-size: 1rem;
            }
        }


        .menu-nav {
            &:hover {
                color: $accent-color;
            }
        }
    }

    #{&}__link {
        @include flexCenter (row);

        @include desktop {}

    }
}


.main {
    @include box;
    @include flexCenter(column);
    width: 90%;
    margin: 40px auto 60px auto;
    font-size: 125%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    #{&}__svg {
        position: absolute;
        left: 0;
        width: 100%;
        display: block;
        height: 95px;
        top: 230px;
        fill: green;
    }

    #{&}__subtitle {
        margin: 1rem auto 3rem auto;
        line-height: 50px;
        text-align: center;

        h3 {
            font-size: 1.4rem;
        }
    }

    #{&}__div1 {
        @include mobile {
            padding: 0.85rem;
        }

        @include desktop {
            @include flexCenter(row);
        }

        padding: 6.6rem 2rem;
        margin-bottom: 3rem;
    }

    #{&}__firstsection {
        @include desktop {
            display: flex;
            @include flexCenter(row);
        }
    }

    #{&}__paragraph1 {
        font-weight: weight(regular);

        @include mobile {
            text-align: center;
            margin: 0.5rem 0.5rem 1rem 0.5rem;
        }

        @include desktop {
            font-size: 1rem;
            width: 70%;
            margin-bottom: 6rem;
            text-align: right;
            line-height: 1.85rem;
            margin: 1rem 2.5rem 1rem 1.5rem;
        }

        .tuani {
            font-size: 22px;
            font-weight: weight(bold);
        }
    }

    #{&}__div2,
    #{&}__div3 {
        @extend .main__div1;
    }

    #{&}__div2 {
        @include mobile {
            @include flexCenter(column);
        }

        @include desktop {}
    }

    #{&}__secondsection {
        @extend .main__firstsection;

        @include mobile {
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        @include desktop {
            @include flexCenter(row);
        }
    }

    #{&}__paragraph2 {
        @extend .main__paragraph1;

        @include mobile {
            text-align: center;
            margin: 1.5rem 0.5rem 1rem 0.5rem;
        }

        @include desktop {
            width: 100%;
            text-align: left;
            font-size: 1rem;
            margin: 0.5rem 0.5rem 1rem 3.5rem;
            line-height: 1.85rem;
        }
    }

    #{&}__thirdsection {
        @extend .main__firstsection;
    }

    #{&}__div4 {
        @include flexCenter(row);
        align-items: center;
        margin: 2.5rem 0;
        font-size: 1.7rem;
        text-align: center;
    }

    #{&}__paragraph3 {
        @extend .main__paragraph1;
        width: 80%;
        margin-right: 1.4rem;
    }

    .imagecontainer {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    #{&}__image3 {
        margin: 0 3rem;
    }

    #{&}__paragraph4 {
        margin-bottom: 4rem;
    }

    @include mobile {
        flex-direction: column;
    }
}

// Wood Products

.wood {
    @include flexCenter (column);
    height: 90vh;
    margin-bottom: 6rem;
    padding: 5rem;

    #{&}__text {
        background: $primary-color;
        color: $text-color;
        padding: 2rem 3rem;
        width: 80%;
        font-weight: map-get($font-weights, medium);
    }
}


// Leather Products
.leather {
    @include flexCenter(column);
    justify-content: flex-start;
    height: 100%;
    padding: 5rem;

    #{&}__text {
        @include desktop {
            width: 60%;
            margin: 0;
        }
    }

    .leather_poly {
        color: gray;
        fill: gray;
    }

}

// Contact Section

.contact {
    height: 70vh;
}

// Footer Section

.footer {
    @include flexCenter(column);
    display: flex;
    justify-content: center;

    background-image:
        #D6E0Eb;
    // box-shadow: 
    // 1px 2px 4px 9px rgba(0,0,0,0.01),
    // 2.3px 4px 6.7px 10.5px rgba(0,0,0,0.03),
    // 3.6px 6.5px 8.4px 11.7px rgba(0,0,0,0.05),
    // 5.7px 7.8px 10px 20px rgba(0,0,0,0.07),
    // 8px 10px 14px 44px rgba(0,0,0,0.09);

    @include mobile {
        a {
            font-size: 0.99rem;
        }
    }

    @include desktop {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;

        a {
            &:hover {
                color: $alt-color;
                @include transition-ease;
            }

            font-size: 1.6rem;
        }
    }

    #{&}__products {
        @include flexCenter(column);
    }

    #{&}__products-title {
        margin-bottom: 2rem;

    }

    .menu-nav {
        @include flexCenter(row);
        width: 100%;

        @include mobile {
            display: flex;
            justify-content: center !important;
        }

        @include desktop {
            display: flex;
            justify-content: center;
        }

        li {
            @include mobile {
                margin: 0.42rem 1rem;
                text-align: center;
            }

            @include desktop {
                margin: 0.42rem 3rem;
            }
        }

        #{&}__item {
            margin: 0 1rem;
        }

        .menu-nav__link {
            font-family: inherit;

            .menu-nav__contact {
                margin: 0.42 0 !important;
            }
        }

        a {
            font-size: 0.9rem;
            font-family: inherit;

            @include desktop {
                font-size: 1.7rem;
            }

            button {
                @include mobile {
                    background: $primary-color;
                    border: 1px solid $text-color;
                    padding: 0.51rem 0.38rem;
                    margin: 0.42rem 0 !important;
                }

                @include desktop {

                    padding: 1rem 1.5rem;
                    background: rgba(43, 95, 44, 1);

                    &:hover {
                        background: #193A25;
                        cursor: pointer;
                    }
                }

                .btn {
                    text: {
                        transform: uppercase;
                        decoration: none;
                        shadow: 0 0.063rem rgba(0, 0, 0, 0.3);
                        -webkit-transform: uppercase;
                        -moz-transform: uppercase;
                        -ms-transform: uppercase;
                        -o-transform: uppercase;
                    }
                }

            }
        }

    }

    #{&}__link {
        text-decoration: none;
    }

    #{&}__text {

        @include desktop {
            @include flexCenter(row);
            margin: 2rem 1rem 1rem;
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            .copyright {
                margin: 0;
            }
        }
    }

    #{&}__header {
        @include mobile {
            font-size: 130%;
            color: $alt-color;
            margin: 1.5rem auto 1rem auto;
            text-align: center;
        }

        @include desktop {
            font-size: 1.35rem;
        }
    }

    #{&}__copyright {
        @include mobile {
            margin: 0 0 10px 0;
            color: $alt-color;
            font-weight: 400;
        }

        @include desktop {
            text-align: center;
            font-size: 1.15rem;
        }
    }
}

h3.footer__products__title {
    margin: 4rem 0 0.4rem 0;
    color: $text-color;
    font-weight: 600;
    letter-spacing: 2px;

    @include desktop {
        font-size: 1.8rem;
        margin: 5.5rem 0 0.6rem 0;
    }

}


.light {
    @include theme($light-theme: true);
}